<a href="https://colab.research.google.com/github/albuut/Medical-Malpractice-Analysis/blob/main/CS203_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Medical Malpractice Analysis

# Google Colab Startup
Make sure to clone the repository into the Google Colab.

In [1]:
!git clone https://github.com/albuut/Medical-Malpractice-Analysis.git

Cloning into 'Medical-Malpractice-Analysis'...
remote: Enumerating objects: 85, done.
remote: Counting objects: 100% (85/85), done.
remote: Compressing objects: 100% (62/62), done.
remote: Total 85 (delta 41), reused 52 (delta 21), pack-reused 0
Receiving objects: 100% (85/85), 688.67 KiB | 5.55 MiB/s, done.
Resolving deltas: 100% (41/41), done.

Run the following code.

In [2]:
%cd /content/Medical-Malpractice-Analysis/

/content/Medical-Malpractice-Analysis

# Data Cleaning

Data manipulated from the origional data set

1. Amount: Log(Amount)

2. Speciality: Dummy variable encoded into different specialities.

3. Insurance: Dummy variable enconded into different insurances.

4. Marital Status: Dummy variabled econded into different marital status.

5. Gender: One hot encoded gender for Male = 0 and Female = 1.

We can use the following lines to generate the cleaned up data from csv file with different log values down below.

In [3]:
!python process_data.py medicalmalpractice.csv log10_data 10
!python process_data.py medicalmalpractice.csv log2_data 2
!python process_data.py medicalmalpractice.csv ln_data ln

Successfully written data to: log10_data_train.csv
Successfully written data to: log10_data_validate.csv
Successfully written data to: log10_data_test.csv
Successfully written data to: log2_data_train.csv
Successfully written data to: log2_data_validate.csv
Successfully written data to: log2_data_test.csv
Successfully written data to: ln_data_train.csv
Successfully written data to: ln_data_validate.csv
Successfully written data to: ln_data_test.csv

We then display the origonal data down below.

In [4]:
import pandas as pd
df_origional = pd.read_csv('medicalmalpractice.csv')
df_origional

,Amount,Severity,Age,Private Attorney,Marital Status,Specialty,Insurance,Gender
0,57041,7,62,1,2,Family Practice,Private,Male
1,324976,6,38,1,2,OBGYN,No Insurance,Female
2,135383,4,34,1,2,Cardiology,Unknown,Male
3,829742,7,42,1,1,Pediatrics,No Insurance,Female
4,197675,3,60,0,2,OBGYN,Medicare/Medicaid,Female
...,...,...,...,...,...,...,...,...
79205,25305,4,64,1,2,General Surgery,Unknown,Male
79206,43098,3,87,0,4,Orthopedic Surgery,Unknown,Male
79207,35398,3,81,0,4,Anesthesiology,Unknown,Male
79208,154228,9,19,0,4,Dermatology,Unknown,Female
79209,168298,7,4,1,1,Family Practice,Private,Female

We can then observe how the data is cleaned and seperated into different variables to be used in different forms of regression or analysis.

In [5]:
import pandas as pd
df_log10 = pd.read_csv('log10_data_train.csv')
df_log10

,Amount,log_Amount,Severity,Age,Private Attorney,Gender,Anesthesiology,Cardiology,Dermatology,Emergency Medicine,...,Thoracic Surgery,Urological Surgery,Medicare/Medicaid,No Insurance,Private,Workers Compensation,Divorced,Single,Married,Widowed
0,95178,4.978537,3,30,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,96692,4.985391,7,66,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,83883,4.923674,3,23,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,12605,4.100543,4,69,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,571863,5.757292,7,17,1,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29519,67006,4.826114,3,16,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
29520,13604,4.133667,4,67,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
29521,19281,4.285130,4,48,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
29522,417274,5.620421,6,20,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
29523,152361,5.182874,4,55,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0